# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folder
venv/
env/

# Ignore database (optional for development)
db.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore static files collected (Render handles them)
staticfiles/

# Ignore system files
*.log
.DS_Store

# Ignore environment files (very important)
.env
